<footer class="footer">
    <nav class="footer__box">
        <h3 class="footer__title">Tienda</h3>
        <ul class="footer__list">
            <li>
                <a class="footer__link" href="https://www.ikea.com/es/es/new/" target="_blank">Productos</a>
            </li>
            <li>
                <a class="footer__link" href="https://www.ikea.com/es/es/search/products/?q=cajoneras" target="_blank">Cajoneras</a>
            </li>
            <li><a class="footer__link" href="https://www.ikea.com/es/es/ideas/gift-ideas/" target="_blank">Para toda la casa</a>
            </li>
            <li><a class="footer__link" href="https://www.ikea.com/es/es/rooms/bedroom/" target="_blank">Habitaciones</a>
            </li>
        </ul>
    </nav>
    <nav class="footer__box">
        <h3 class="footer__title">Nosotros</h3>
        <ul class="footer__list">
            <li> <a class="footer__link" href="https://www.ikea.com/es/es/customer-service/brochures/" target="_blank"> Nuestra Guía</a>
            </li>
            <li> <a class="footer__link" href="https://www.ikea.com/es/es/ideas/gallery/" target="_blank">Nuestro dieño</a></li>
            <li> <a class="footer__link" href="https://www.ikea.com/es/es/this-is-ikea/" target="_blank">Nuestra historia</a>
            </li>
            <li> <a class="footer__link" href="https://www.ikea.com/es/es/customer-service/" target="_blank">Ayuda</a>
            </li> 
        </ul>
    </nav>
    <nav class="footer__box">
        <h3 class="footer__title">Contacto</h3>
        <ul class="footer__list">
            <li> <a class="footer__link" href="mailto:ayuda@openspaces.com"></a> ayuda@openspaces.com</li>
            <li> <a class="footer__link" href="https://www.ikea.com/es/es/customer-service/proveedores-pub5b81b881"></a> Socios</li>
            <li>
                <i class="footer__icon fa-brands fa-2x fa-linkedin-in"></i>
                <i class="footer__icon fa-brands fa-2x fa-instagram"></i>
                <i class="footer__icon fa-brands fa-2x fa-twitter"></i>
            </li>
        </ul>
    </nav>

    <div class="footer__buttonTop">
        <a href="#top" title="Ir al Inicio">
            <i class="fa-solid fa-arrow-up-long fa-2x footer__buttonIcon" alt="Ir al incio"></i>
        </a>
    </div>
</footer>