<header>

    <nav class="burger">
        <i class="burger__icon fa-solid fa-bars fa-2x" alt="icono menu"></i>
        <ul class="burger__menu">
            <li><a class="burger__link" href="#" target="_blank">Productos</a></li>
            <li><a class="burger__link" href="#" target="_blank">Coleccciones</a></li>
            <li><a class="burger__link" href="#" target="_blank">Tienda</a></li>
            <li><a class="burger__link" href="#" target="_blank">Inicio</a></li>
        </ul>
    </nav>

    <div class="hero">
        <img class="hero__OpenSpaces" src="./assets/images/logo.png" alt="Open Spaces">

        <div class="hero__Enjoy">
            <h1 class="hero__title">Disfruta creando espacios</h1>
            <a class="hero__button" href="https://www.ikea.com/es/es/" target="_blank">
                Comprar Ahora
            </a>
        </div>
    </div>

</header>