<main class="main">
    <h2 class="title2">Volverse organizado se siente mejor con OPEN SPACES</h2>
    
    <div class="features">
        <section class="features__section1">

            <article class="features__item">
                <img class="features__image" src="./assets/images/icon_1.png" alt="table">
                <h3 class="features__tittle">Lo que necesitas</h3>
                <p>Una línea de productos diseñados para todos tus espacios</p>
            </article>

            <article class="features__item">
                <img class="features__image" src="./assets/images/Biodegradable bag.png" alt="biodegradable bag">
                <h3 class="features__tittle">Materias primas sustentables</h3>
                <p>Todos los productos con materias primas son sustentables</p>
            </article>

            <article class="features__item">
                <img class="features__image" src="./assets/images/Park.png" alt="park">
                <h3 class="features__tittle">Guía</h3>
                <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
            </article>

        </section>
    </div>  

    <section class="section2">
        <img src="./assets/images/go_6.png" alt="delivery">
        <h2>Envío gratis garantizado</h2>
        <p>Envío gratis en compras desde 100</p>
        <a class="section2__link" href="https://www.ikea.com/es/es/cat/organizadores-almacenaje-st001/">Comprar Ahora</a> 
    </section>

    <section class="section3">
        <h2>Disfruta creando espacios</h2>
        <p>Una línea de productos diseñados para todos tus espacios</p>
        <button class="section3__button">Comprar Ahora</button>
        <img src="./assets/images/creando-espacios.jpg" alt="creando-espacios">
    </section>

</main>