<main class="main">
    
    <div class="features">

        <section class="features__section1">

            <h2 class="features__title">Volverse organizado se siente mejor con OPEN SPACES</h2>

            <article class="features__item">

                <img class="features__image" src="./assets/images/icon_1.png" alt="table">
                <h3 class="features__subtitle">Lo que necesitas</h3>
                <p class="features__content">Una línea de productos diseñados para todos tus espacios</p>

            </article>

            <article class="features__item">

                <img class="features__image" src="./assets/images/Biodegradable_bag.png" alt="biodegradable bag">
                <h3 class="features__subtitle">Materias primas sustentables</h3>
                <p class="features__content">Todos los productos con materias primas son sustentables</p>

            </article>

            <article class="features__item">

                <img class="features__image" src="./assets/images/Park.png" alt="park">
                <h3 class="features__subtitle">Guía</h3>
                <p class="features__content">Soporte y asesoramiento para ayudarte con tu objetivo</p>

            </article>

        </section>
    
        <section class="section2">

            <img src="./assets/images/go_6.png" alt="delivery">
            <h2 class="section2__title">Envío gratis garantizado</h2>
            <p class="section2__content">Envío gratis en compras desde 100</p>
            <a class="section2__link" href="https://www.ikea.com/es/es/cat/organizadores-almacenaje-st001/">Comprar Ahora</a> 

        </section>

        <section class="section3">

            <div class="section3__Spaces">
                
                <h2 class="section3__title">Disfruta creando espacios</h2>
                <p class="section3__content">Una línea de productos diseñados para todos tus espacios</p>
                <a class="section3__button" href="https://www.ikea.com/es/es/" target="_blank" >Comprar Ahora</a>

            </div>

            <img class="section3__image" src="./assets/images/creando-espacios.jpg" alt="creando-espacios">

        </section>

    </div>

</main>