<main class="main">
    <h2 class="title2">Volverse organizado se siente mejor con OPEN SPACES</h2>
    
    
    <section class="section1">
        <div class="item">
            <img src="./assets/images/icon_1.png" alt="table">
            <h3>Lo que necesitas</h3>
            <p>Una línea de productos diseñados para todos tus espacios</p>
        </div>

        <div class="item">
            <img src="./assets/images/Biodegradable bag.png" alt="Biodegradable bag">
            <h3>Materias primas sustentables</h3>
            <p>Todos los productos con materias primas son sustentables</p>
        </div>

        <div class="item">
            <img src="./assets/images/Park.png" alt="Park">
            <h3>Guía</h3>
            <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
        </div>

    </section>

    <section class="section2">
        <img src="./assets/images/go_6.png" alt="delivery">
        <h2>Envío gratis garantizado</h2>
        <botton>Comprar Ahora</button>
        <img src="./assets/images/creando-espacios.jpg" alt="">
    </section>

</main>