@media all and (min-width:768px) {
    /* mediaqueries main*/
    .main {
        &__title {
            width: 799px;
            height: auto;
        }
    }
    .features {
        &__section1 {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            
        }
    }
    /* mediaqueries Footer*/
    .footer {
        flex-direction: row;
        height: 276px;
        align-items: center;

        &__box:first-child {
            margin-top: 0;
        }
    }
}