.footer {
    background-color: $color-primary;
    color: $color-secondary;
    display: flex;
    flex-direction: column;
    height: 545px;

    &__title {
        font-size: 20px;
        font-weight: 600;
        height: 23px;
        margin-top: 20px;
    }

    &__box {
        margin: 0 auto;
        width: 210px;
    }

    &__box:first-child {
        margin-top: 36px;
    }

    &__box:last-child {
        color: red;
    }

    &__list {
        list-style: none;
        font-size: 14px;
        padding: 0;
        margin: 12px 0;
        line-height: normal;
    }

    &__link {
        color: $color-secondary;
        text-decoration: none;
    }

    &__link:hover {
        color: $color-white;
    }

    &__icon {
        width: 25px;
        height: 26px;
        margin: 25px 22px 0 0;
        color: $color-white;
        transition: transform .7s ease-in-out;
        
        &--twitter:hover {
            color: #00acee;
            transform: scale(2) rotate(360deg);
        }
        &--linkedin:hover {
            color: #0e76a8;
            transform: scale(2) rotate(360deg);
        }
        &--instagram:hover {
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);box-shadow: 0px 3px 10px rgba(0,0,0,.25);
            transform: scale(2) rotate(360deg);
        }
    }

    &__buttonTop {
        position: fixed;
        bottom: 16px;
        right: 28px;
    }

    &__buttonIcon {
        color: $color-white;
    }

    &__buttonIcon:hover {
        animation: bounce 1s .2s;
        transform: scale(0.85);
        color: $color-orange;
    }

    @keyframes bounce {
        0% { transform: scale(1.1); opacity: 1 }
        50% { transform: scale(1.6); opacity: .7; }
        60% { transform: scale(0.6); opacity: 1 }
        80% { transform: scale(0.95) }
        100% { transform: scale(0.85) }
    }
}
@media all and (min-width:468px) and (max-width: 768px) {
    .footer{
        &__buttonTop {
            display: none !important;
        
        }
    }
} 
@media all and (min-width:768px) {
    .footer {
       &__rrss{
          display: flex; 
          flex-direction: row-reverse;
       } 
    }
    

}