.footer {
    background-color: $color-primary;
    color: $color-secondary;
    display: flex;
    flex-direction: column;
    height: 545px;

    &__title {
        font-size: 20px;
        font-weight: 600;
        height: 23px;
        margin-top: 20px;
    }

    &__box {
        margin: 0 auto;
        width: 210px;
    }

    &__box:first-child {
        margin-top: 36px;
    }

    &__box:last-child {
        color: red;
    }

    &__list {
        list-style: none;
        font-size: 14px;
        padding: 0;
        margin: 12px 0;
        line-height: normal;
    }

    &__link {
        color: $color-secondary;
        text-decoration: none;
    }

    &__link:hover {
        color: $color-white;
    }

    &__icon {
        width: 25px;
        height: 26px;
        margin: 25px 22px 0 0;
        color: $color-white;
        
        &--twitter:hover {
            color: #00acee;
        }
        &--linkedin:hover {
            color: #0e76a8
        }
        &--instagram:hover {
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);box-shadow: 0px 3px 10px rgba(0,0,0,.25);
        }
    }

    &__buttonTop {
        position: fixed;
        bottom: 16px;
        right: 28px;
    }

    &__buttonIcon {
        color: $color-white;
    }
}